.slid-bl {
    display: flex!important;
    margin: 40px 0px 20px -56px;
    padding: 0 64px 0 0;
}



.slid-tit {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 20px;
}

.slid-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin: 0 0 30px;
}

a.slid-but {
    width: 190px;
    height: 43px;
    background: #41988D;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

a.slid-but:hover {
    opacity: 0.7;
    color: #fff;
}

.slid-wrap-is {
    width: 100%!important;
    padding: 0 0 0 0;
}

.slid-left {
    width: 57%;
    background: #F8F8F8;
    border-radius: 0px 10px 10px 0px;
    padding: 60px 40px 60px 40px;
    margin: 0px 0 0 0;
}

.slid-right {
    width: 35%;
}

.arrow-bl {
    display: flex;
    align-items: center;
    margin: 0 0 0 53px;
}

.next-arrow {
    width: 36px;
    height: 36px;
    background: #D0DBDA;
    border-radius: 3px;
    margin: 0 60px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prev-arrow {
    width: 36px;
    height: 36px;
    background: #41988D;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slid-wrap {
    margin: 0 0 120px 0;
}

.next-arrow:hover {
    opacity: 0.7;
}

.prev-arrow:hover {
    opacity: 0.7;
}


.wrap-conteiner {
    padding: 0px 40px;
}

.tit-bl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px;
}

.tit-is {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
}

a.tit-but {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #2B667A;
    text-decoration: none;
    border-bottom: 1px solid;
    cursor: pointer;
    display: inline-block;
}

a.tit-but:hover {
    border-bottom: 1px solid transparent;
}

.center-text-bl {
    display: flex;
}

.center-text-img {
    margin: 0 125px 0 0;
}

.center-text-bl-is {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.center-text-tit {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin: 0 0 10px;
}

.center-wrap {
    margin: 0 0 120px;
}

.icon-tit {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.icon-wrpa {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 120px;
    gap: 20px;
    justify-content: space-between;
}

.icon-bl-is {
    width: 291px;
    height: 71px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 5px;
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
    padding: 13px 10px;
}

.icon-img {margin: 0 10px 0 0;}

.icon-tits {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #2B667A;
}

.help-wrap {
    background: #F8F8F8;
    padding: 80px 0;
    margin: 0 0 120px;
}

.help-bl-text {margin: 0 125px 0 0;}

.help-bl-is {
    display: flex;
    align-items: center;
}

.help-tit {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 15px;
}

.help-text-is {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.form-is {
    width: 440px;
}

form.form-in {
    background: #F8F8F8;
    border-radius: 0px 10px 10px 0px;
    padding: 20px 27px 20px 40px;
}

.form-tit {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 20px 38px;
}

.form-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 0 0 20px;
}

.container.is {
    padding: 0;
}

form.form-in input[type="text"] {
    width: 373px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #818181;
    margin: 0 0 15px;
    height: 43px;
}

.text-check {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0px 0 34px;
}

.text-check span {font-family: 'Arial';font-style: normal;font-weight: 400;font-size: 14px;line-height: 24px;
/* or 171% */color: #000000;}

.text-check label:before {
  content: "";
  display: flex;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
}
 
.text-check label {
    cursor: pointer;
    line-height: 35px;
    position: relative;
    /* z-index: 1; */
    margin: 7px 20px 0 0;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
}

.text-check input:checked + label:before {
  content: "";
  background: url(../images/li-is.png)center bottom no-repeat #F8F8F8;
  width: 20px;
  height: 13px;
  background-size: cover;
  display: flex;
}

input.check {
    display: none;
}

input[type="submit"] {
    width: 373px;
    height: 43px;
    left: 220px;
    top: 2939px;
    background: #41988D;
    border-radius: 5px;
    border: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

input[type="submit"]:hover {
    opacity: 0.8;
}

.form-wrpa {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin: 0 0 120px;
    padding: 0 0px 0 0;
}

.form-slid {
    width: 64%;
}

.form-slid-in {
    width: 400px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    padding: 20px 15px;
    margin: 0 0 30px;
}

.form-slid-tit {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 0 0 26px;
}

.form-slid-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #9A9A9A;
    margin: 0 0 16px;
}

.form-slid-img-bl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-slid-img-tit {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #9A9A9A;
    margin: 0 0 10px;
}

.form-slid-img-prise {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 0 0 25px;
}

a.form-slid-img-but {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    border-bottom: 1px solid;
    color: #2B667A;
    text-decoration: none;
    cursor: pointer;
}

a.form-slid-img-but:hover {
    border-bottom: 1px solid transparent;
}

.form-slid-wrap {
    display: flex!important;
    flex-wrap: wrap;
    gap: 20px;
}

.tit-bl.is {
    margin: 0 30px 20px 20px;
}

.arrow-bl.is {
    margin: 0 0 0 20px;
}

/*-------------------------------*/

.hair-req-bl {
    margin: 0 0 100px;
}

.acord-tit {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0 0 25px;
}

.accordion-header {
    position: relative;
    cursor: pointer;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    background: #F8F8F8;
    border-radius: 10px;
    padding: 13px 15px;
}

.accordion-header:before {
    position: absolute;
    right: 20px;
    top: 10px;
    content: '';
    background: url(../images/acord-close.svg)left top no-repeat;
    width: 36px;
    height: 36px;
}

.accordion-wrap {margin: 0 0 20px;}

.accordion-text {
    margin: 20px 0 0;
    display: none;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding: 0px 15px;
}

.accordion-header.accordion-gold {
    position: relative;
}

.accordion-header.accordion-gold:before {
    position: absolute;
    right: 20px;
    top: 10px;
    content: '';
    background: url(../images/acord-open.svg)left top no-repeat;
    width: 36px;
    height: 36px;
}

.acord-bl {
    margin: 0 0 100px;
}

.acord-bl- {
    margin: 0 0 100px 0;
}

.acort-bot-bl {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.acort-bot-bl a {
    border-bottom: 1px solid;
    cursor: pointer;
    color:#212121;
    font-size: 14px;
    font-family: 'Inter-SemiBold';
}

.acort-bot-bl a:hover {
    border-bottom: none;
    color: #5E50A2 !important;
}

.pain-wrap {
    background: url(../images/pain.png)left top no-repeat;
    width: 100%;
    height: 296px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin: 0 0 120px;
    background-size: contain;
}

.pain-tit {
    width: 100%;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin: 0 0 15px;
}

.pain-text {
    width: 100%;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin: 0 0 30px;
    color: #FFFFFF;
}

a.pain-but {
    background: #41988D;
    border-radius: 5px;
    padding: 11px 50px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

a.pain-but:hover {
    color: #fff;
    background: #ccd9d8;
    transition: 0.9s;
}

.rev-bl-is {
    background: #F8F8F8;
    border-radius: 10px;
    padding: 20px 12px 20px 15px;
    margin: 0 0 20px;
}

.rev-tit {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin: 0 0 10px;
}

.rev-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin: 0 0 15px;
}

a.rev-but {
    position: relative;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: none;
    color: #2B667A;
    border-bottom: 1px solid;
    cursor: pointer;
}

.rev-text-more {
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

a.rev-but-more {
    display: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line:none;
    border-bottom: 1px solid;
    color: #2B667A;
    cursor: pointer;
}

a.rev-but:before {
    position: absolute;
    left: 0;
    top: -51px;
    content: '';
    right: 0;
    width: 1277%;
    height: 39px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F8F8F8 100%);
}

a.rev-but:hover {
    border-bottom: 1px solid transparent;
}

.arrow-bl.is2 {
    justify-content: center;
    margin: 0 0 120px;
}

ul.pag-bl {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 4px;
}

ul.pag-bl li {
    width: 36px;
    height: 36px;
    background: #D0DBDA;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.arrow-bl.is2 .next-arrow {
    margin: 0 2px;
}

.arrow-bl.is2 .prev-arrow {
    margin: 0 2px;
}

ul.pag-bl li:hover {
    background: #41988D;
}

.galer-tit {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 15px;
    text-align: center;
}

.galer-wrap {
    display: flex;
    gap: 20px;
    margin: 0 -10px 20px!important;
}

.arrow-bl.slid {
    margin: 0;
    display: flex;
    justify-content: center;
}

.wrap-conteiner.slid {
    margin: 0 0 120px;
}

.news-tit {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin: 0 0 15px;
}

.news-is {
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    min-height: 354px;
    margin: 0 0 0px;
}

.news-bl {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.news-img {
    margin: 0 0 15px;
}

.news-time {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #818181;
    margin: 0 0 10px;
}

.news-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    border-bottom: 1px solid #F1F1F1;
    padding: 0 0 13px;
    min-height: 77px;
    margin: 0 0 15px;
}

a.news-but {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
/* identical to box height */
    text-decoration-line: none;
    color: #2B667A;
    border-bottom: 1px solid;
}

a.news-but:hover {
    border-bottom: 1px solid transparent;
}

.wrap-conteiner.news {
    display: flex;
    margin: 0 0 120px;
}

.news-wrap {
    margin: 0 0 15px;
}

.news-enc-tit {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
/* identical to box height */
    color: #000000;
    margin: 0 0 15px;
}

.news-enc-is {
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    width: 400px;
    min-height: 167px;
    padding: 17px 15px;
    margin: 0 0 20px;
}

.news-enc-wrap {
}

.news-enc-tit-bl {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px;
}

.news-enc-tit-is {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #818181;
}

.news-enc-tit-time {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #818181;
}

.news-enc-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #1C2027;
    margin: 0 0 26px;
}

a.news-enc-but {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: none;
    color: #2B667A;
    border-bottom: 1px solid;
}

a.news-enc-but:hover {
    border-bottom: 1px solid transparent;
}

.slid-part-wrap {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0 20px!important;
}

.slid-part-img {
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    padding: 30px 27px;
    margin: 0;
    min-height: 147px!important;
}

.galer-tit.is {
    margin: 0 0 20px;
}

.wrap-conteiner.part {
    padding: 0 40px 120px;
}

.arrow-bl.part {
    margin: 0;
    display: flex;
    justify-content: center;
    margin: 0 0 0 20px;
}

i.icon-location img {
    width: 16px;
    height: 16px;
    margin: 5px;
}

i.icon-phone img {
    width: 16px;
    height: 16px;
    margin: 5px;
}

i.icon-search img {
    width: 12px;
    height: 12px;
    margin: 3px;
}

.slick-slide img {
    max-width: 100%;
    height: auto;
}

.galer-img.slick-slide {
    margin: 0;
}

.slid-wrap-is.responsives.slick-initialized.slick-slider .slick-list.draggable .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 5px;
}

.arrow-bl.is3 {
    margin: 0 0 0 15px;
}

.arrow-bl.is3.active .next-arrow{
    background: #41988D;
}

.arrow-bl.active .next-arrow{
    background: #41988D;
}

li.last ul:last-of-type {
    position: absolute;
    top: 100%;
    left: -170px;
    text-align: left;
    background: #00645c;
    width: 516px;
    font-size: 14px;
}

a#vid {
    position: absolute;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    display: flex;
    background: #41988D;
    border: 1.4px solid #41988D;
    border-radius: 3px;
    padding: 15px 17px;
    align-items: center;
    justify-content: center;
}

a#vid:hover {
    background: #D0DBDA;
    border: 1.4px solid #D0DBDA;
    transition: 0.9s;
}

.help-vid {
    position: relative;
}

.modul-1 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    display: none;
    padding: 30px 0;
    background: #00000073;
}

.modul-6 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    display: none;
    padding: 30px 0;
    background: #00000073;
}

.modul-7 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    display: none;
    padding: 30px 0;
    background: #00000073;
}

.modal-is {
    position: relative;
    margin: 0 auto;
    width: 570px;
    background: #fff;
    border-radius: 10px;
    padding: 60px 70px;
}

.closes {
    font-size: 18px;
    color: #c3c3c3;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
    width: 25px;
    height: 25px;
    background: url(../images/close.png)left top no-repeat;
    background-size: cover;
    cursor: pointer;
}

span.point a {
    text-decoration: none;
    border-bottom: 1px solid #08687c;
}

span.point a:hover {
    border-bottom: 1px solid transparent;
}

.links a {
    text-decoration: none;
    border-bottom: 1px solid;
}

.links a:hover {
    border-bottom: 1px solid transparent;
}

.modal-tit {
    width: 100%;
    font-size: 20px;
    margin: 0 0 20px;
}

form.madal-form input{
    width: 100%;
    margin: 0 0 20px;
}

