




@media screen and (max-width: 1366px) {

    a.slid-but {
        margin: 0 auto;
    }
    
    
    .form-slid {
        width: 64%;
    }
    
        .wrap-conteiner {
            padding: 0px 30px;
        }
        
        .form-slid-in {
            width: auto;
            background: #FFFFFF;
            border: 1px solid #F1F1F1;
            border-radius: 10px;
            padding: 20px 15px;
            margin: 0 0 28px 0;
        }
        
        
        
        
        }
        
        @media screen and (max-width: 1280px) {
    
    
            .slid-part-wrap {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: space-around;
                margin: 0 -10px 20px!important;
            }
    
            .slid-part-img {
                border: 1px solid #F1F1F1;
                border-radius: 10px;
                padding: 30px 27px;
                margin: 0px 10px 0 10px;
                min-height: 147px!important;
            }
    
            .icon-bl-is {
                width: 280px;
                height: 71px;
                background: #FFFFFF;
                border: 1px solid #F1F1F1;
                border-radius: 5px;
                margin: 0 0 5px 0;
                display: flex;
                align-items: center;
                padding: 13px 10px;
            }
        
            .news-img img {
                width: 100%;
            }
        
            .news-enc-is {
                background: #FFFFFF;
                border: 1px solid #F1F1F1;
                border-radius: 10px;
                width: 400px;
                min-height: 167px;
                padding: 17px 15px;
                margin: 0 0 25px;
            }
        
            .slid-left {
                width: 56%;
                background: #F8F8F8;
                border-radius: 0px 10px 10px 0px;
                padding: 60px 40px 60px 40px;
                margin: 0px 0 0 0;
            }
        
            .news-is {
                border: 1px solid #F1F1F1;
                border-radius: 10px;
                padding: 15px;
                width: 380px;
                min-height: 354px;
                margin: 0 0 0px;
            }
        }
        
        
        /* стили для md-устройств */
        @media screen and (max-width: 1200px) {
        
        .form-slid {
            width: 45%;
            margin: 0 auto;
        }
        
        .form-bl {
            padding: 0 0 20px 0px;
        }
        
        .form-is {
            width: 45%;
        }
        
        .slid-bl {
            display: flex!important;
            flex-wrap: wrap;
            margin: 0;
            padding: 10px;
            justify-content: center;
        }
        
        .slid-left {
            width:auto;
            margin: 0 0 10px;
            order: 1;
            padding: 20px 20px;
        }
        
        .slid-right {
            width: auto;
            margin: 0 10px;
        }
        
        .arrow-bl {
            display: flex;
            align-items: center;
            margin: 0 0 0 0;
            justify-content: center;
        }
        
        .form-slid-in {
            width: auto;
            background: #FFFFFF;
            border: 1px solid #F1F1F1;
            border-radius: 10px;
            padding: 20px 15px;
            margin: 0 0 30px;
        }
        
        }
        
        /* стили для md-устройств */
        @media screen and (max-width: 1126px) {
        
.slid-left {
            width: auto;
            margin: 0 0 10px;
            order: 1;
            padding: 20px 0;
            background: #fff;
        }
.form-slid-in {
    width: auto;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    border-radius: 10px;
    padding: 20px 15px;
    margin: 0 0 15px;
}

.form-slid {
    width: 54%;
    margin: 0 auto;
}
        
        }
        
        
/* стили для sm-устройств */
@media screen and (max-width: 1025px) {

.center-text-bl-is:before {
    top: 0;
    background-size: contain;
    height: 100%;
}

.acord-tit {
    text-align: center;
}

.help-tit {
    text-align: center;
}

.news-tit {
    text-align: center;
}

.news-enc-tit {
    text-align: center;
}



.slid-bl {
    border: 1px solid #d0dbda;
    margin: 10px;
}
        
            .form-tit {
                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 28px;
                color: #000000;
                margin: 0 0 20px 0px;
                text-align: center;
            }
            .slid-bl {
                padding: 25px 10px 10px 10px;
            }
        
            .icon-bl-is {
                width: 296px;
                height: 71px;
                background: #FFFFFF;
                border: 1px solid #F1F1F1;
                border-radius: 5px;
                margin: 0 0 5px 0;
                display: flex;
                align-items: center;
                padding: 13px 10px;
            }
        
            form.form-in input[type="text"] {
                width: 100%;
                border: 1px solid #CCCCCC;
                border-radius: 5px;
                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: #818181;
                margin: 0 0 15px;
                height: 43px;
            }
        
            .tit-bl.is {
                margin: 0 0px 20px 0px;
            }
        
            .news-is {
                border: 1px solid #F1F1F1;
                border-radius: 10px;
                padding: 15px;
                width: 517px;
                min-height: 354px;
                margin: 0 0 0px;
            }
        
            a.tit-but {
                font-family: 'Arial';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                color: #2B667A;
                text-decoration: none;
                border:none;
                cursor: pointer;
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        
        
        .form-slid-wrap {
            display: flex!important;
            flex-wrap: wrap;
            gap: 20px;
            padding: 0 15px;
        }
        
        .arrow-bl.is2 {
            justify-content: center;
            margin: 0 0 40px;
        }
        
        .acord-bl {
            margin: 0 0 20px;
        }
        
        .form-slid {
            width: 100%;
        }
        
        .icon-img img {
            max-width: inherit;
        }
        
        img {
            max-width: 100%;
            height: auto;
        }
        
        .wrap-conteiner.slid {
            margin: 0 0 50px;
        }
        
        .pain-wrap {
            background: url(../images/pain.png)left top no-repeat;
            width: 100%;
            height: 296px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: column;
            margin: 0 0 10px;
            background-size: contain;
        }
        
        .tit-bl {
            display: block;
            justify-content: center;
            align-items: center;
            margin: 0 0 20px;
            flex-wrap: wrap;
        }
        
        .center-text-bl {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .slid-wrap {
            margin: 0 0 30px 0;
        }
        
        .center-wrap {
            margin: 0 0 20px;
        }
        
        .icon-wrpa {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 20px;
            gap: 20px;
            justify-content: space-between;
        }
        
        .help-bl-text {
            margin: 0;
        }
        
        .help-bl-is {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .icon-tit {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
            width: 100%;
            text-align: center;
            margin: 0 0 10px;
        }
        
        
        .icon-wrpa {
            display: flex;
            flex-wrap: wrap;
            margin: 0 0 30px;
            gap: 20px;
            justify-content: space-between;
        }
        
        .tit-is {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 34px;
            color: #000000;
            text-align: center;
            margin: 0 0 10px 0;
        }
        
        .help-wrap {
            background: #F8F8F8;
            padding: 80px 0;
            margin: 0 0 10px;
        }
        
        .form-is {
            width: auto;
        }
        
        form.form-in {
            background: #F8F8F8;
            border-radius: 0px 10px 10px 0px;
            padding: 20px 27px 20px 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        .form-text {
            width: 100%;
            text-align: center;
        }
        
        .form-slid-in {
            width: auto;
            background: #FFFFFF;
            border: 1px solid #F1F1F1;
            border-radius: 10px;
            padding: 20px 15px;
            margin: 0 0 20px;
        }
        
        .form-wrpa {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            margin: 0 0 20px;
            padding: 0 0px 0 0;
            justify-content: center;
        }
        
        .center-text-img {
            margin: 0 0 10px;
        }
          
        }
        
        /* стили для sm-устройств */
        @media screen and (max-width: 992px) {

li.last ul:last-of-type {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    background: #00645c;
    width: auto;
    font-size: 14px;
}
        
            .icon-bl-is {
                width: 304px;
                height: 71px;
                background: #FFFFFF;
                border: 1px solid #F1F1F1;
                border-radius: 5px;
                margin: 0 0 5px 0;
                display: flex;
                align-items: center;
                padding: 13px 10px;
            }
        
        .galer-img {
            text-align: center;
            margin: 2px;
        }
        
        .wrap-conteiner.part {
            padding: 0 15px 25px;
        }
        
        .wrap-conteiner {
            padding: 0px 15px;
        }
        
        .pain-wrap {
            background: #F8F8F8;
            width: 100%;
            min-height: 296px;
            margin: 0 0 40px;
            padding: 10px;
        }
        
        .pain-tit {
            width: 100%;
            text-align: center;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            margin: 0 0 15px;
            color: inherit;
        }   
        
        .pain-text {
            width: 100%;
            text-align: center;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            margin: 0 0 30px;
            color: inherit;
        }
        
        .news-is {
            border: 1px solid #F1F1F1;
            border-radius: 10px;
            padding: 15px;
            width: 100%;
            min-height: 354px;
            margin: 0 0 0px;
        }
        
        .news-bl {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        
        .wrap-conteiner.news {
            display: flex;
            margin: 0 0 10px;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .news-enc-wrap {
            width: 100%;
        }
        
        .news-enc-is {
            background: #FFFFFF;
            border: 1px solid #F1F1F1;
            border-radius: 10px;
            width: 100%;
            min-height: 167px;
            padding: 17px 15px;
            margin: 0 0 20px;
        }
        
          
        }

        @media screen and (max-width: 830px) {
            .icon-bl-is {
                width: 245px;
                height: 71px;
                background: #FFFFFF;
                border: 1px solid #F1F1F1;
                border-radius: 5px;
                margin: 0 0 5px 0;
                display: flex;
                align-items: center;
                padding: 13px 10px;
            }
        }
        
        
        /* Ipad*/ 
        @media screen and (max-width: 768px) {
            .center-text-img {
                margin: 0 0 20px;
            }
        
            .slid-wrap {
                margin: 0 0 50px 0;
            }
        
            .icon-bl-is {
                width: 356px;
                height: 71px;
                background: #FFFFFF;
                border: 1px solid #F1F1F1;
                border-radius: 5px;
                margin: 0 0 5px 0;
                display: flex;
                align-items: center;
                padding: 13px 10px;
            }
        
            .icon-wrpa {
                display: flex;
                flex-wrap: wrap;
                margin: 0 0 40px;
                gap: 10px;
                justify-content: space-between;
            }
        }


        
        
        
        /* Ipad mini*/ 
        @media screen and (max-width: 640px) {
        
        .icon-bl-is {
            width: 100%;
        }
        
        .slid-tit {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: #000000;
            margin: 0 0 20px;
        }
        
        .tit-is {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            color: #000000;
            text-align: center;
            margin: 0 0 10px;
        }
        
        .icon-tit {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            color: #000000;
            width: 100%;
            text-align: center;
            margin: 0 0 12px;
            line-height: 17px;
        }
        
        a.tit-but {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #2B667A;
            text-decoration: none;
            border:none;
            cursor: pointer;
            display: inline-block;
        }
        
        .help-wrap {
            background: #F8F8F8;
            padding: 20px 0;
            margin: 0 0 10px;
        }
        
        .help-vid img {
            width: 100%;
            height: auto;
        }
        
        .acord-tit {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            color: #000000;
            margin: 0 0 25px;
            text-align: center;
        }

 .modal-is {
    position: relative;
    margin: 0 auto;
    width: 90%;
    background: #fff;
    border-radius: 10px;
    padding: 60px 15px;
}

        
        
        }
        
        /* Galaxy S8+*/ 
        @media screen and (max-width: 480px) {

 .slick-track {
    display: block!important;
    margin: 10px;
}

.wrap-conteiner.slid {
    margin: 0 10px 50px;
}

            .slid-part-wrap {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                justify-content: space-around;
                margin: 0 0px 20px!important;
            }

            .slid-part-img {
                border: 1px solid #F1F1F1;
                border-radius: 10px;
                padding: 30px 27px;
                margin: 0px 0 0 0;
                text-align: center;
                min-height: 147px!important;
            }
        
        a.slid-but {
            margin: 0 auto;
        }
        
        .slid-wrap-is {
            width: auto;
            padding: 0;
        }
        
        form.form-in {
            background: #F8F8F8;
            border-radius: 0px 10px 10px 0px;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        form.form-in input[type="text"] {
            width: 100%;
            border: 1px solid #CCCCCC;
            border-radius: 5px;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #818181;
            margin: 0 0 15px;
            height: 43px;
        }
        
        .form-wrpa {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            margin: 0 0 40px;
            padding: 0 0px 0 0;
            justify-content: center;
        }
        
        input[type="submit"] {
            width: 100%;
            height: 43px;
            background: #41988D;
            border-radius: 5px;
            border: none;
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            color: #FFFFFF;
        }
    
        .form-wrpa {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            margin: 0 0 40px;
            padding: 0 0px 0 0;
            justify-content: center;
        }
    
        .help-bl-is {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: left;
        }
    
        form.form-in {
            background: #F8F8F8;
            border-radius: 0px 10px 10px 0px;
            padding: 20px 15px 20px 15px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    
        .slid-bl {
            padding: 25px 5px 10px 5px;
        }
    
        .icon-tit {
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            color: #000000;
            width: 100%;
            text-align: center;
            margin: 0 0 12px;
            line-height: 27px;
        }
          
        }
        
/* Galaxy*/ 
@media screen and (max-width: 415px) {

.center-text-bl-is:before {
    top: 0;
    background-size: contain;
    height: 100%;
    right: 0;
    left: 0;
}
          
}
        
        
        /* Iphone 6.7.8 */ 
        @media screen and (max-width: 375px) {
        
        .slid-part-img {
            border: 1px solid #F1F1F1;
            border-radius: 10px;
            padding: 30px 27px;
            margin: 0;
        }
        
        }
        
        /* Iphone 5.5SE */ 
        @media screen and (max-width: 320px) {
        
        }